<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title text-center>会员</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 15px;">
    <img src="assets\img\会员.png"/>
  </ion-card>
  <ion-card style="margin-top: -10px;">
    <ion-item lines="none" style="font-size: 10pt;font-weight: bold;">
      会员特权
    </ion-item>
    <div class="table">
      <div class="accordant">
      <div class="box" style="border-right: 1px solid #fcfbfb;border-bottom: 1px solid #fcfbfb;border-top: 1px solid #fcfbfb" >
        <img style="width: 20px;height: 35px;margin: 0 auto" src="assets\icon\专属vip身份.png">
        <p class="mine-font">专属VIP身份</p>
      </div>
      <div class="box"  style="border-right: 1px solid #fcfbfb;border-bottom: 1px solid #fcfbfb;border-top: 1px solid #fcfbfb">
        <img style="width: 28px;height: 25px;margin: 0 auto" src="assets\icon\更改昵称.png">
        <p class="mine-font">更改昵称 1次/月</p>
      </div>
      <div class="box"  style="border-bottom: 1px solid #fcfbfb;border-top: 1px solid #fcfbfb">
        <img style="width: 30px;height: 30px;margin: 0 auto" src="assets\icon\查看通讯录.png">
        <p class="mine-font">查看通讯录 15次/月</p>
      </div>
    </div>
      <div class="accordant">
        <div class="box" style="border-right: 1px solid #fcfbfb;">
          <img style="width: 25px;height: 30px;margin: 0 auto" src="assets\icon\礼物充值.png">
          <p class="mine-font">礼物充值9.5折</p>
        </div>
        <div class="box"  style="border-right: 1px solid #fcfbfb;">
          <img style="width: 22px;height: 30px;margin: 0 auto" src="assets\icon\免费发布邀约.png">
          <p class="mine-font">免费发布邀约 15次/月</p>
        </div>
        <div class="box">
          <img style="width: 40px;height: 28px;margin: 0 auto" src="assets\icon\免费私聊.png">
          <p class="mine-font">免费私聊</p>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>
