<ion-header>
  <ion-toolbar>
    <ion-title>填写资料</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="flex-box" style="padding: 4rem 2rem;">
    <ion-img style="width: 76px;height: 76px;padding: 10px" src="{{user.picId}}" (click)="chooseImg()"></ion-img>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item lines="none" tappable>
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\昵称.png"></ion-img>
        </ion-button>
        <ion-label>昵称</ion-label>
        <ion-input [(ngModel)]="user.nickName" class="fz0-8" style="text-align: right;font-weight: lighter;"
          placeholder="请输入"></ion-input>
      </ion-item>
      <!-- <ion-item lines="none" class="top-line" tappable>
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\年龄.png"></ion-img>
        </ion-button>
        <ion-label>生日</ion-label>
        <ion-datetime class="fz0-8" display-format="YYYY-MM-DD" picker-format="YYYY MM DD" [(ngModel)]="datetime"
          [pickerOptions]="customPickerOptions" placeholder="请选择日期"></ion-datetime>
      </ion-item> -->
      <ion-item lines="none" class="top-line" tappable>
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\年龄.png"></ion-img>
        </ion-button>
        <ion-label>年龄</ion-label>
        <ion-input class="fz0-8" style="text-align: right;font-weight: lighter;" placeholder="请填写年龄"
          [(ngModel)]="user.age" type="number"></ion-input>
        <!-- <ion-input style="text-align: right;font-size: 10pt;font-weight: lighter;" placeholder="选择位置"
          [(ngModel)]="user.address" (click)="openPicker(2,5,multiColumnOptions)"></ion-input> -->
      </ion-item>
      <ion-item lines="none" class="top-line" tappable>
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\地址.png"></ion-img>
        </ion-button>
        <ion-label>地址</ion-label>
        <ion-input class="fz0-8" style="text-align: right;font-weight: lighter;" placeholder="填写详细位置"
          [(ngModel)]="user.address"></ion-input>
        <!-- <ion-input style="text-align: right;font-size: 10pt;font-weight: lighter;" placeholder="选择位置"
          [(ngModel)]="user.address" (click)="openPicker(2,5,multiColumnOptions)"></ion-input> -->
      </ion-item>
      <ion-item lines="none" class="top-line" tappable (click)="openPicker2(1,money[0].length,money)">
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\收入.png"></ion-img>
        </ion-button>
        <ion-label>收入</ion-label>
        <ion-input class="fz0-8" style="text-align: right;font-weight: lighter;" placeholder="请选择"
          [(ngModel)]="user.income" readonly="true"></ion-input>
      </ion-item>
      <ion-item lines="none" class="top-line" tappable (click)="openPicker1(1,profession[0].length,profession)">
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\职业.png"></ion-img>
        </ion-button>
        <ion-label>职业</ion-label>
        <!-- <ion-input [(ngModel)]="user.profession"></ion-input> -->
        <ion-input class="fz0-8" style="text-align: right;font-weight: lighter;" placeholder="请选择"
          [(ngModel)]="user.profession" readonly="true"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-row class="flex-box" style="width: 100%;">
    <ion-button (click)="updateUserInfo()" expand="block"
      style="width: 33vw;margin-top: 20px;height: 40px;--background: #8BA0F1;text-align: center;">确定
    </ion-button>
  </ion-row>
</ion-content>