<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">忘记支付密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<span style="margin-left: 20px;">重新绑定银行卡找回</span>
<ion-card>
  <ion-item [routerLink]="['/add-bank-card']" routerLinkActive="router-link-active">
    <ion-label>建设银行  储蓄卡 （8448）</ion-label>
  </ion-item>
  
  <ion-item [routerLink]="['/add-bank-card']" routerLinkActive="router-link-active">
    <ion-label>农业银行  储蓄卡 （2077）</ion-label>
  </ion-item>
 
</ion-card>
<span style="margin-left: 20px;" >绑定新卡找回</span>
<ion-card>
  
  <ion-list>
    
  <ion-item [routerLink]="['/add-bank-card']" routerLinkActive="router-link-active" >
    <ion-label>添加银行卡</ion-label>
  </ion-item>
  </ion-list>
</ion-card>


</ion-content>
