ion-button{
    --background: #F2F2F2;
    --color:#999999;
 
}
.a1{
    color: #999999;
    width: 50px;
    border-radius:15px;
    text-align: center;
    margin-right: 5px;
    font-size: 12px;
    display:block;
    float: left;
    background-color: #F2F2F2;
  }

img{
    width: 20px;
    height: 20px;
}