<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">忘记支付密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<span style="margin-left: 10px;">请输入持卡人本人银行卡</span>
<ion-card>
  <ion-list>
    <ion-item>
      <ion-label>姓名</ion-label>
      <ion-input type="text" placeholder="张三"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>证件号</ion-label>
      <ion-input type="text" placeholder="招商银行  储蓄卡 （6493）"></ion-input>
    </ion-item>
  </ion-list>
</ion-card>
<span style="margin-left: 10px;">请输入预留电话</span>
<ion-card>
  <ion-list>
    <ion-item>
      <ion-label>手机号</ion-label>
      <ion-input type="text" placeholder="请输入预留电话"></ion-input>
    </ion-item>
  </ion-list>
</ion-card>
<!-- <ion-radio-group name="auto" value="tesla" >
<ion-radio value="tesla" slot="start" style="width: 10px;height: 10px;color: #6C95E1;margin-left: 10px;"></ion-radio>
<ion-label style="font-size: small;color: #6C95E1;">用户协议</ion-label>
</ion-radio-group> -->
<ion-item>
  <ion-label>用户协议</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
</ion-item>
</ion-content>
