<!--
<ion-header>
    <ion-toolbar>
        <ion-title text-center>识君</ion-title>
    </ion-toolbar>
</ion-header>
-->

<ion-content>

    <div style="background-image: url('../../assets/img/backimg.png');background-size: cover;height: 100%"  class="flex-box">
        <div class="title">相瓣</div>
        <div>
          <ion-card style="text-align: center;height: 100%;width: 100%;background-color: rgba(250,250,250,0.5)">
            <div (click)="changeLanguage('zh')" style="height: 50px;line-height:50px;overflow:hidden;">选择语言为中文</div>
            <div (click)="changeLanguage('en')" style="height: 50px;line-height:50px;overflow:hidden;">Language Switching to English</div>
            <div (click)="changeLanguage('th')" style="height: 50px;line-height:50px;overflow:hidden;">เลือกภาษาเป็นภาษาไทย</div>
          </ion-card>
        </div>
    </div>

</ion-content>
