<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">登录页面</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>用户名</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>密码</ion-label>
      <ion-input></ion-input>
    </ion-item>
  <ion-button (click)="login()">
    登录
  </ion-button>
  </ion-list>
</ion-content>
