.main {
  background-color: #fff;
  width: 100%;
  height: 50px;
  // padding-bottom: 62%;
  padding-left: 0.5%;
  padding-top: 0.5%;
  font-size: 10pt;
}
.main > div {
  width: 27%;
  height: 20px;
  line-height: 20px;
  padding-bottom: 12%;
  background-color: #f2f2f2;
  border-radius: 10px;
  float: left;
  margin: 3%;
  text-align: center;
  color: #333333;
}
ion-button {
  --background: #ffae3c;
  --border-radius: 25px;
}
.checked-box {
  background-color: #ffae3a;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 14px;
  min-height: 3.4rem;
}
.unchecked-box {
  background-color: #f2f2f2;
  color: #333333;
  padding: 0.5rem;
  border-radius: 14px;
  min-height: 3.4rem;
}
