<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-button [routerLink]="['/button']" routerLinkActive="router-link-active" >
   跳转至按钮页面
 </ion-button>
 <ion-button [routerLink]="['/action-sheet']" routerLinkActive="router-link-active" >
  跳转至actionSheet手势页面
 </ion-button>
 <ion-button [routerLink]="['/modal']" routerLinkActive="router-link-active" >
  跳转至modal模态对话框页面
 </ion-button>
 <ion-button [routerLink]="['/infinite']" routerLinkActive="router-link-active" >
  跳转至上拉分页页面
 </ion-button>
</ion-content>
