.button-border {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 30px 0px 3px 30px;
  min-height: 2.5rem;
  min-width: 5rem;
}
.swiper-pagination-bullet {
  display: none !important;
}