<ion-header>
  <ion-toolbar >
    <ion-title>净网公约</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

      <div style="margin: 18px;">
        <ion-slides mode="ios" pager="ios" scrollbar="ios">
          <ion-slide>
            <img src="assets\img\yueding.png" alt="">
          </ion-slide>
        </ion-slides>
      </div>
  
 

  <div style="margin: 18px;">
   
  
    <div style="font-size: 8pt;font-weight: lighter;">
      
      为维护平台健康生态秩序，更好地保障用户合法权益及良好的用户
      体验，现公示以下用户公约。请大家认真阅读，不要违约哦。
                                  
    </div>
    <div style="font-size: 8pt;font-weight: bold;color: #447EF5;">
      
      具体条例<br>
                            
    </div>
    <div style="font-size: 8pt;font-weight: bold;">
      
      1、严禁违反国家现行法律法规政策的行为；<br>
      2、严禁发表反政治言论、或丑化国家领导人、侮辱党和国家的行
      为；<br>
      3、严禁以骗取钱财为目的的欺诈性社交行为；<br>
      4、严禁发布以宣传、售卖为导向的广告行为。包括但不限于以下
      行为：昵称、广播或聊天内容发布广告，宣传个人所属内容或联系
      方式等；<br>
      5、严禁发布价值观扭曲内容，严禁发布低俗内容。包括但不限于
      以下内容：着装暴露、带有抚摸敏部位、涉及色情或性干事性暗示
      、涉及敏感部位等照片或视频；<br>
      6、严禁使用非本人头像及视频，严禁盗用个人资料；<br>
      7、严禁发布宣传或介绍传销组织、传销特点的内容；<br>
      8、严禁涉嫌非法的线下约会，及任何诱导至线下的内容；<br>
      9、严禁涉嫌借贷、诈骗或涉及任何与金钱有关的社交行为；<br>
                                  
    </div>
    <div style="font-size: 8pt;font-weight: lighter;">
      
      出现以上违规行为，视情节轻重，将冻结账号或永久封禁账号，同
      时将相关账号及证据一脚司法机关处理。您若在使用过程中发现他
      人账号存在违规信息，可直接向平台进行举报。本公约作为用户协
      议的补充，如有冲突请以用户行为为准。
                                  
    </div>
  </div>
</ion-content>
