<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-back-button ></ion-back-button>
      </ion-buttons>
        <ion-title style="text-align: center">邀请赚钱</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="showShare()">
            <ion-img src="assets\icon\share.png" slot="end" style="width: 20px;height: 20px"></ion-img>
          </ion-button>
        </ion-buttons>
        <!-- <img src="assets\icon\share.png" alt="" style="width: 40px;height: 40px;float: right;"> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    
        <img src="assets\img\邀请赚钱.png" alt="" style="width: 100%;height: 25%;padding: 3%;">
 

    <ion-card style="margin-top: 0%;">
        <ion-card-content>
            <div style="text-align: center;font-size: 14px;font-weight: bold;color: #333333">
                亲爱的 {{user.nickName}}
            </div>
            <div style="text-align: center;font-size: 14px;font-weight: bold;color: #333333">
                您已邀请{{user.invitationsNumber}}位好友，获得{{user.profit}}收益
            </div>
            <HR style="margin-left: -20px;color:#eeeeee ;"
            width="120%" color=#eeeeee SIZE=1>
            <ion-row>
                <i style="margin-right: 7px;margin-top: 4px;width:8px;height:8px;border-radius:50%;background-color:#8BA0F1;display: block"></i>
                <ion-label style="font-size: 12px;color: #999999">分享链接到微信、朋友圈、QQ</ion-label>
            </ion-row>
            <ion-row>
                <i style="margin-right: 7px;margin-top: 4px;width:8px;height:8px;border-radius:50%;background-color:#8BA0F1;display: block"></i>
                <ion-label style="font-size: 12px;color: #999999">好友通过链接成功下载注册，您将100%获得现金</ion-label>
            </ion-row>
            <ion-row>
                <i style="margin-right: 7px;margin-top: 4px;width:8px;height:8px;border-radius:50%;background-color:#8BA0F1;display: block"></i>
                <ion-label style="font-size: 12px;color: #999999">邀请更多好友，获取更多奖金。</ion-label>
            </ion-row>
        </ion-card-content>
    </ion-card>

  <ion-card style="margin-top: -3%;">
    <ion-card-content>
      <div style="text-align: center;font-size: 14px;font-weight: bold;color: #333333">
        排行榜
      </div>
      <HR style="margin-left: -20px;color:#eeeeee ;"
      width="120%" color=#eeeeee SIZE=1>
      <div style="text-align: center;color: #999999;font-size: 12px" *ngFor="let ranking of rankingList">
        {{ranking.name}}共邀请{{ranking.invitationsNumber}}次，获得{{ranking.money}}现金
      </div>

    </ion-card-content>
  </ion-card>
  <!-- 支付成功 -->
<div *ngIf="shareShow">
  <!--//弹框内容-->
  <div style="z-index: 11;position: fixed;margin-top: calc(-70%);width: 90%;left: 5%;height: 200px;"
       ontouchmove="event.preventDefault();event.stopPropagation();">
      <ion-card>
       
          
        
      <ion-item >
        <img src="assets\img\weixin.png" alt="">
        <img src="assets\img\weixin2.png" alt="">
        <img src="assets\img\qq.png" alt="">
        <img src="assets\img\qqSpace.png" alt="">
      
      </ion-item>

      </ion-card>

      <img src="assets\img\关闭.png" alt="" (click)="closeSucess()" style="width: 30px;height: 30px;margin: 20% 10% 0 45%;">
  </div>
  <!--遮罩-->
  <div (click)="backdropclick($event)" ontouchmove="event.preventDefault();event.stopPropagation();" style="height: 190%;">
      <ion-backdrop role="presentation" tappable
                    style="opacity: 0.5; transition-delay: initial; transition-property: none;height: 100%;"></ion-backdrop>
  </div>
</div>
</ion-content>
