<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>个人资料</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item style="padding: 0.3rem 0rem;" lines="none" detail (click)="chooseImg()">
      <ion-avatar slot="start">
        <img src="{{user.picId}}">
      </ion-avatar>
      <ion-label class="flex-box" style="justify-content: space-between;">
        <div class="fz1 color-black" style="font-weight: lighter;">{{user.nickName}}</div>
      </ion-label>
      <div class="fz0-8 color-grey" style="font-weight: lighter;" slot="end">点击更换头像</div>
      <!-- <ion-label class="ion-no-padding">
          <ion-row size="12" class="flex-box" style="justify-content: space-between;">
            <span class="title-box fz1-1 ellipsis" style="max-width: 70%;">{{item.username}}</span>
            <span class="fz1" style="color: #8BA0F1;text-align: center;" (click)="removeBlack(item)">移除黑名单</span>
          </ion-row>
        </ion-label> -->
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-item class="bold fz1" detail lines="none" style="width: 100%;" (click)="jumpPhotoAlbum()">
        相册
      </ion-item>
    </ion-row>
    <ion-row style="width: 100%;padding: 0.5rem;" class="top-line">
      <ion-col size="4" class="flex-box" *ngFor="let item of user.images">
        <div class="img-square">
          <img src="{{requestUrl.imageBaseUrl+item}}">
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-thumbnail slot="start" *ngFor="let item of user.photos">
        <ion-img [src]="item" style="width: 105px;height: 100px;"></ion-img>
      </ion-thumbnail> -->
  </ion-card>
  <ion-card>
    <ion-list lines="none">
      <ion-list-header class="bold fz1">资料</ion-list-header>
      <ion-item class="top-line">
        <ion-label>昵称</ion-label>
        <ion-input class="fz0-8 color-grey" style="text-align: right;font-weight: lighter;" placeholder="请填写昵称"
          [(ngModel)]="user.nickName" type="text"></ion-input>
      </ion-item>
      <ion-item class="top-line">
        <ion-label>ID</ion-label>
        <span class="fz0-8 color-grey" style="font-weight: lighter;" slot="end">{{user.identityId}}</span>
      </ion-item>
      <ion-item class="top-line">
        <ion-label>性别</ion-label>
        <!-- <ion-input class="fz0-8 color-grey" style="text-align: right;font-weight: lighter;" placeholder="请填写年龄"
          [(ngModel)]="user.age" type="text" readonly="true"></ion-input> -->
        <span class="fz0-8 color-grey" style="font-weight: lighter;" *ngIf="user.sex==1" slot="end">男</span>
        <span class="fz0-8 color-grey" style="font-weight: lighter;" *ngIf="user.sex==2" slot="end">女</span>
        <span class="fz0-8 color-grey" style="font-weight: lighter;" *ngIf="user.sex==3" slot="end">其他</span>
      </ion-item>
      <ion-item class="top-line">
        <ion-label>年龄</ion-label>
        <ion-input class="fz0-8 color-grey" style="text-align: right;font-weight: lighter;" placeholder="请填写年龄"
          [(ngModel)]="user.age" type="number"></ion-input>
      </ion-item>
      <ion-item class="top-line">
        <ion-label>城市</ion-label>
        <ion-input class="fz0-8 color-grey" style="text-align: right;font-weight: lighter;" placeholder="请填写地址"
          [(ngModel)]="user.address" type="text"></ion-input>
      </ion-item>
      <ion-item class="top-line" (click)="showAppearance()" detail>
        <ion-label>外貌</ion-label>
        <span class="fz0-8 color-grey" style="font-weight: lighter;">{{user.appearance}}</span>
      </ion-item>
      <ion-item class="top-line">
        <ion-label>通讯</ion-label>
        <!-- <span class="fz0-8 color-grey" style="font-weight: lighter;"> {{user.mobile}}</span> -->
        <ion-input class="fz0-8 color-grey" style="text-align: right;font-weight: lighter;" placeholder="请填写联系方式"
          [(ngModel)]="user.mobile" type="text"></ion-input>
      </ion-item>
      <ion-item class="top-line" detail (click)="openPicker(1,money[0].length,money)">
        <ion-label>收入</ion-label>
        <span class="fz0-8 color-grey" style="font-weight: lighter;">{{user.income}}</span>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-row class="flex-box" style="margin-top: 3rem;margin-bottom: 3rem;">
    <ion-button (click)="submit()" style="--background: #8CC7FF;width: 33vw;">
      保存
    </ion-button>
  </ion-row>

  <!-- 外貌 -->
  <div *ngIf="isShow">
    <!--//弹框内容-->
    <div style="z-index: 11;position: fixed;margin-top: calc(-90%);width: 106%;left: -3%;"
      ontouchmove="event.preventDefault();event.stopPropagation();">
      <ion-card>
        <ion-item>
          <ion-label>
            外貌
          </ion-label>
          <ion-label style="color: #999999;margin-left: -80%;">
            最多可选四个
          </ion-label>
        </ion-item>
        <div class="main" style="background-color: #FFFFFF;">
          <div style="background-color: #8BA0F1;color: #FFFFFF;">
            <ion-label>温柔可爱 </ion-label>

          </div>

          <div>
            <ion-label>温柔可爱</ion-label>
          </div>


          <div style="background-color: #8BA0F1;color: #FFFFFF;">
            <ion-label>妖娆多姿</ion-label>
          </div>


          <div>
            <ion-label>聪明伶俐</ion-label>
          </div>

          <div style="background-color: #8BA0F1;color: #FFFFFF;">
            <ion-label>秀外慧中</ion-label>
          </div>

          <div>
            <ion-label>楚楚动人</ion-label>
          </div>

          <div>
            <ion-label>摩登女郎</ion-label>
          </div>

          <div style="background-color: #8BA0F1;color: #FFFFFF;">
            <ion-label>火爆性感</ion-label>
          </div>
          <div>
            <ion-label>温柔可爱 </ion-label>

          </div>

          <div>
            <ion-label>温柔可爱</ion-label>
          </div>


          <div>
            <ion-label>妖娆多姿</ion-label>
          </div>


          <div>
            <ion-label>聪明伶俐</ion-label>
          </div>

          <div>
            <ion-label>秀外慧中</ion-label>
          </div>

          <div>
            <ion-label>楚楚动人</ion-label>
          </div>

          <div>
            <ion-label>摩登女郎</ion-label>
          </div>

          <div>
            <ion-label>火爆性感</ion-label>
          </div>
          <div>
            <ion-label>秀外慧中</ion-label>
          </div>

          <div>
            <ion-label>楚楚动人</ion-label>
          </div>

          <div>
            <ion-label>摩登女郎</ion-label>
          </div>

          <div>
            <ion-label>火爆性感</ion-label>
          </div>
        </div>
      </ion-card>

    </div>
    <!--遮罩-->
    <div (click)="backdropclick($event)" ontouchmove="event.preventDefault();event.stopPropagation();"
      style="height: 110%;">
      <ion-backdrop role="presentation" tappable
        style="opacity: 0.5; transition-delay: initial; transition-property: none;height: 110%;"></ion-backdrop>
    </div>
  </div>
</ion-content>