<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">忘记密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 20%">
    <div class="flex-box">
      <div class="flex-box input-box" style="justify-content: space-between; padding: 0.1rem 1rem;height: 55px">
        <ion-input type="text" placeholder="请输入手机号/邮箱" [(ngModel)]="user.username"
                   style="padding-left: 0.4rem !important;padding-right: 0.4rem !important;"></ion-input>
        <!--<div style="margin-right: 5px">{{phonePrefix}}</div>
        <ion-icon name="ios-arrow-down" (click)="showPhonePrefix = !showPhonePrefix"></ion-icon>

        <div class="menu-box" *ngIf="showPhonePrefix">
          <div class="item-menu" *ngFor="let item of phonePrefixList" (click)="phonePrefix = item;showPhonePrefix = false">{{item}}</div>
        </div>-->
      </div>
    </div>
    <div class="flex-box" style="margin-top: 20px;margin-bottom: 20px">
      <div class="flex-box input-box" style="justify-content: space-between; padding: 0.1rem 1rem;height: 55px">
        <ion-input type="text" placeholder="请输入验证码" [(ngModel)]="verificationCode"
                   style="padding-left: 0.4rem !important;padding-right: 0.4rem !important;"></ion-input>
        <ion-chip style="--background:linear-gradient(-45deg, #7BCDF3, #8BA0F1);" *ngIf="showVerification" (click)="messageVerification()">获取验证码</ion-chip>
        <ion-chip style="--background:linear-gradient(-45deg, #7BCDF3, #8BA0F1);" *ngIf="!showVerification">{{VerificationTime}}秒后重试</ion-chip>
      </div>
    </div>
    <div class="flex-box">
      <div class="flex-box input-box" style="justify-content: space-between; padding: 0.1rem 1rem;height: 55px">
        <ion-input type="password" placeholder="输入新密码" [(ngModel)]="user.password"
                   style="padding-left: 0.4rem !important;padding-right: 0.4rem !important;"></ion-input>
      </div>
    </div>

    <ion-button (click)="modifyPassword()" style="margin-top: 50px;margin-left: 25%;--border-radius: 30px;--background: #8BA0F1;width: 50%" type="submit" [disabled]="loading">确定</ion-button>
  </div>

  <div style="position: absolute;bottom: 10%;left: 0;right: 0">
  <div style="margin-bottom: 20px" class="flex-box">
    <div class="fz1" style="font-weight: bold">第三方登录</div>
  </div>
  <div class="flex-box">
    <div style="margin-right: 80px">
      <ion-img style="height: 26px;width: 26px;" src="assets/img/weixin.png"></ion-img>
    </div>
    <div>
      <ion-img style="height: 26px;width: 26px" src="assets/img/qq.png"></ion-img>
    </div>
  </div>
  </div>
</ion-content>
