/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
//导航栏去掉边线
.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios {
  --border-style: solid;
  --border-color: transparent;
}
//弹性布局
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
//顶部横线
.top-line {
  border-top: 1px solid #eeeeee;
}
//底部横线
.bottom-line {
  border-bottom: 1px solid #eeeeee;
}
.fz0-5 {
  font-size: 0.5rem;
}
.fz0-8 {
  font-size: 0.8rem;
}
.fz1 {
  font-size: 1rem;
}
.fz1-1 {
  font-size: 1.1rem;
}
.fz1-2 {
  font-size: 1.2rem;
}
.fz1-3 {
  font-size: 1.3rem;
}
.fz1-4 {
  font-size: 1.4rem;
}
.fz1-5 {
  font-size: 1.5rem;
}
.fz2 {
  font-size: 2rem;
}
.color-grey {
  color: #999999;
}
.color-black {
  color: rgba(51, 51, 51, 1);
}
.color-purple{
  color: #8BA0F1;
}
.list-ios {
  margin-bottom: 0px;
}
.bold {
  font-weight: bold;
}
.button-inner.sc-ion-back-button-ios {
  color: #999999;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
// 自定义css
.toast {
  width: 200px;
  margin: 0, auto;
  text-align: center;
  left: 20%;
}
.modal-transparent {
  --background: transparent;
}
.img20 {
  width: 20px !important;
  height: 20px !important;
}
.img25 {
  width: 25px !important;
  height: 25px !important;
}
//绝对居中图片
.img-square {
  width: 100%;
  height: 0px;
  padding-top: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
/*自动隐藏文字*/
.ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: normal;
  white-space: normal !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: normal;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}
.picker-below-highlight.sc-ion-picker-ios {
  border-top: 1px solid #eeeeee;
}
.picker-above-highlight.sc-ion-picker-ios {
  border-bottom: 1px solid #eeeeee;
}
