<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>系统设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item lines="full" detail tappable (click)="clearCache()" lines="none"
        style="border-bottom: #eeeeee 1px solid;">
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\清理缓存.png"></ion-img>
        </ion-button>
        <ion-label style="font-size: 11pt;">清理缓存</ion-label>
        <span style="float: right;font-weight: lighter;font-size: 8pt;">0.0MB</span>

      </ion-item>
      <ion-item detail tappable routerLink="/feedback" lines="none" style="border-bottom: #eeeeee 1px solid;">
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\反馈意见.png"></ion-img>
        </ion-button>
        <ion-label style="font-size: 11pt;">反馈意见</ion-label>
      </ion-item>
      <ion-item lines="none" style="border-bottom: #eeeeee 1px solid;">
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\升级版本.png"></ion-img>
        </ion-button>
        <ion-label style="font-size: 11pt;">升级版本</ion-label>
        <span style="float: right;font-weight: lighter;font-size: 10pt;">1.01</span>
      </ion-item>
      <ion-item lines="none" style="border-bottom: #eeeeee 1px solid;" (click)="privacy()" >
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\升级版本.png"></ion-img>
        </ion-button>
        <ion-label style="font-size: 11pt;">隐私保护指引</ion-label>
      </ion-item>
      <ion-item lines="none" style="border-bottom: #eeeeee 1px solid;" detail tappable routerLink="/about">
        <ion-button slot="start" fill="clear">
          <ion-img style="width: 15px;height: 15px;" src="assets\icon\关于我们.png"></ion-img>
        </ion-button>
        <ion-label style="font-size: 11pt;">关于我们</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button (click)="logout()" id="exit" shape="round"
    style="margin-left:calc(5%);width: 90%;margin-top: 50px;--background: #8BA0F1;">退出登录</ion-button>
</ion-content>