.man-card{
  padding: 20px;border-radius: 15px;height: 100%;background-color: #5B77C4
}
.woman-card{
  padding: 20px;border-radius: 15px;height: 100%;background-color: #C45B8A;margin-top: 10%;
}
.title{
  position: absolute;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
